table, th, tr, td {
    border: solid .125em darkgreen;
}
.status {
    margin-bottom: 4em;
}
h1, h2 ,h3, h4, h5 {
    margin: 0.5em
}
h2 {
    margin-top: 1.5em;
}
tbody tr:nth-child(odd) {
    background-color: darkgrey;
}

footer {
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
@media only screen and (max-width: 420px) {
    td {
        height: 100px;
    }
    th {
        height: 75px;
    }
}
